<!DOCTYPE html>
<html>
<head>

	<style type="text/css">
		body { margin:0; padding: 0;}
		html, #map { position:absolute; top:0; bottom:0; width:100%;}
	</style>

	<title>Earthquakes</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- leaflet -->
	<link rel="stylesheet" href="stylesheets/leaflet.css" />
	<script src="src/leaflet-src.js"></script>

	<!-- adding in jquery because WE CAN -->
	<script src="src/jq.min.js"></script>

	<!-- Papa parse for csv -->
	<script src="src/papaparse.min.js"></script>

</head>

<body>

	<div id = "map">
		<input type="file" id="csv-file" name="files"/>

	</div>
	<script>
		// B A S E  L A Y E R: source for our tile layer
		var stamenUrl = 'http://tile.stamen.com/toner/{z}/{x}/{y}.png',

		osmAttrib = 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.',

		baselayer = L.tileLayer(stamenUrl, {attribution: osmAttrib})

		var map = new L.Map('map', {layers: [baselayer], center: new L.LatLng(40.74188, -74.00473), zoom: 2 });

		//P A R S E
		var data;
		function handleFileSelect(evt) {
	 		var file = evt.target.files[0];
			Papa.parse(file, {
				header:true,
				complete: function(results,file){
					console.log(results);
					console.log("Finished parsing");
					for (i = 0; i<results.data.length; i++){
						var lat = parseFloat(results.data[i].latitude);
						var long = parseFloat(results.data[i].longitude);
						var newMarker = new L.circleMarker(new L.LatLng(lat,long), {
							radius: 8,
							opacity: 0.5
						});
						var mag = results.data[i].mag;
						var place = results.data[i].place;
						newMarker.bindPopup('<p>Magnitude: '+mag+'</p>'+'<br><p>Place: '+place+'</p>');
						newMarker.addTo(map);
					}
					// go through results and plot
				}
			});
		}
		$(document).ready(function(){
    	$("#csv-file").change(handleFileSelect);
		});
	</script>
</body>
